<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'lofin')}">


<body>
    <div class="container">

        <div class="row">
            <div class="col-sm-10 mt-5">
                <form th:object="${user}" th:action="@{/user/login}" method="post">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="username">User Name</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{username}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="password" th:field="*{password}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <button th:with="text='Login'" class="btn btn-primary" type="submit" th:text="${text}" />
                        </div>
                    </div>
                </form>
                <p th:text="${message}" />
            </div>
        </div>
    </div>
</body>

</html>