<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'employee')}">

<body>
 
    <div class="container">

        <div class="row">
          <div class="col-sm-10 mt-5">
            <div class="form-group row">
              <h1>Client</h1>
            </div>
            <form th:object="${employee}" th:action="@{/employee/create}" method="post">
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="firstName">First Name</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" th:field="*{firstName}" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="lastName">Last Name</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" th:field="*{lastName}" />
                </div>
              </div>              
              
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="status">Status</label>
                </div>
                <div class="col-sm-2">
                  <select id="status" placeholder="status" autocomplete="off" class="form-control"
                    th:field="*{status}">
                    <option value="-">None</option>
                    <option value="A">Active</option>
                    <option value="I">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <button th:with="text='Registrar'" class="btn btn-primary" type="submit" th:text="${text}"/>
                </div>
              </div>
            </form>
            <p th:text="${mensaje}" />
          </div>
        </div>
      </div>
    
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
  
      <script>
        $('.input-group.date').datepicker({
          autoclose: true,
          todayHighlight: true
        });
      </script>
      <script>
        $(":input").inputmask();
      </script>
</body>

</html>