<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'contact')}">

<body>

  <h2>Contact</h2>
  <form th:object="${contact}" class="form-horizontal" th:action="@{/contact/create}" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
       <input
        th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Phone', 'phone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button th:with="text='Create'" class="btn btn-primary" type="submit" th:text="${text}" />
      </div>
    </div>
  </form>
  <p th:text="${message}" />
</body>
</html>