<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
  
  <title>PetClinic :: a Spring Framework demonstration</title>

</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/}"><span></span></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">
              <os-p>Toggle navigation</os-p>
            </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="main-navbar">
  
          <ul class="nav navbar-nav navbar-right" th:remove="all">
  
            <li th:fragment="menuItem (link,active,title,glyph,text)" class="active"
              th:class="${active==menu ? 'active' : ''}">
              <a th:href="@{__${link}__}" th:title="${title}">
                <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                  aria-hidden="true"></span>
                <span th:text="${text}">Template</span>
              </a>
            </li>
  
          </ul>
  
          <ul class="nav navbar-nav navbar-right">
  
            <li th:replace="::menuItem ('/','home','home page','home','Home')">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <span>Home</span>
            </li>
  
            <li th:replace="::menuItem ('/user/login','home','Login User','login','Login')">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <span>Login</span>
            </li>

            <li th:replace="::menuItem ('/contact/create','contact','Create Contact','contact','Contact')">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <span>Login</span>
            </li>            

          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container xd-container">
  
        <th:block th:include="${template}" />
  
        <br />
        <br />
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              Copyright
          </div>
        </div>
      </div>
    </div>
  
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    

  </body>
  
  </html>
